<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.sudansh.falldetection">

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<application>
		<service
			android:name="com.sudansh.falldetection.SensorService"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedService" />
	</application>

</manifest>
